<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">

    <parameter name="param1" value="value1"></parameter>
    <parameter name="param2" value="value2"></parameter>

    <test name="Test">
      <classes>
          <class name="Test1"></class>
      </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
